@import 'tailwindcss';
/*@import '../views';*/

body {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.gradient-background {
    background: linear-gradient(to bottom, #001f3f, #0074d9, #7fdbff);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.window {
    background: transparent;
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
    margin: auto;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    overflow: hidden;
    z-index: 2;
}

